body{
    background-color:#aaaa;
    font-family:sans-serif;
    margin:0;
    padding:0;
}

a{
    color:black;
    text-decoration:none;
}

.navbar {
    position:relative;
    left:30vw;
    display:flex;
    width:35vw;
    margin-bottom:30px;
}

.left-button{
    position:absolute;
    top:10px;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    width:25px;
    height:25px;
    padding: 0 3.5px 7px;   
    margin:0;
    border-radius:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:height 0.25s, width 0.25s;
}

.left-button:hover{
    width:28px;
    height:28px;
    transition:height 0.25s, width 0.25s;
}

.right-button{
    font-size:11px;
    position:absolute;
    top:10px;
    right:0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100px;
    height:20px;
    padding:5px;
    margin:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius:25px;
    transition:height 0.25s, width 0.25s;
}

.right-button:hover{
    width:103px;
    height:23px;
    transition:height 0.25s, width 0.25s;
}

.right-button svg{
    margin-right:5px
}

.main-logo{
    align-items:center;
    justify-content:center;
}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

h1{
    text-align:center;
    font-size:25px;
    font-weight:550;
    margin:0;
}

h2{
    text-align:center;
    font-weight:normal;
    font-size:17px;
    margin:0;
}

.channel-and-mail{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    margin-bottom:20px;
}

.container1, .container2,.container3 {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:5px;
    margin-bottom:20px;
    width:50vw;
}

.container3 {
    margin-bottom:40px;
}

.button1, .button2, .button3{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border: 1px solid;
    border-radius:50px;
    margin-bottom:5px;
    width:70%;
    height:25px;
    padding:8px;
    transition: width 0.25s, height 0.25s;
}

.button1:hover, .button2:hover,.button3:hover {
    width:75%;
    height:30px;
    transition: width  0.25s, height 0.25s;
}

.link-link{
    display:flex;
    flex-direction:column;
    align-items:center;

}

.link-link svg{
    position:absolute;
    color:#aaaa;
    left:5px;
}

.link-link a p{
    font-size:15px;
}


.sticky p a{
    text-decoration:underline;
    color:#aaa;
    transition: font-size 0.5s;
}

.sticky p a:hover{
    font-size:13px;
    transition: font-size 0.5s;
}

.sticky p {
    color:#aaa;
}

.container-sticky {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color:black;
    font-size:12px;
    width:25%;
    position:fixed;
    bottom: 6px;
    left:37.5%;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
}

.container-bell{
    background-color:#aaa;
    border-radius:100%;
    width:20px;
    margin-right:20px;
}


/* Responsive for HP */
@media screen and (max-width: 767px) {
    .navbar {
        position:relative;
        left:14.375vw;
        display:flex;
        width:71.25vw;
        margin-bottom:40px;
    }
    
    
    .link-link a p{
        font-size:13px;
    }
    .container1, .container2,.container3 {
        width:75vw;
    }
    .container3 {
        margin-bottom:50px;
    }

    .button1, .button2, .button3{
        width:95%;
 
    }
    
    .button1:hover, .button2:hover,.button3:hover {
        width:100%;

    }


    .container-sticky {
        width:50%;
        bottom: 6px;
        left:25vw;

    }

}